<%= form_with(model: post, local: true) do |form| %>  
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <%= form.label :title %>
      <%= form.text_area :title, class: "form-control" %>
    </div>
    <div class="row">
      <%= form.label :tag_list %>
      <%= form.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control" %>
    </div>
    <div class="row">
      <%= form.label :top_image %>
      <% if @post.top_image.attached? %>
        <%= image_tag @post.top_image, class: "img-thumbnail d-block mb-3" %>
      <% end %>
      <%= form.file_field :top_image, class: "form-control-file" %>
    </div>
    <div class="row">
      <%= form.label :cotent %>
      <%= form.rich_text_area :cotent, class: "form-control" %>
    </div>
    <div class="row">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
