<div class="card mb-4 mt-5">
  <div class="card-header">タイトル検索</div>
  <div class="card-body">
    <%= form_with(model: @post_search_form, url: root_path, method: :get) do |form| %>
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title, class: "form-control" %>
      <%= form.submit "検索", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>
<!-- Categories widget-->
<div class="card mb-4">
    <div class="card-header">タグ検索</div>
    <div class="card-body">
        <div class="row">
          <div class="col-sm-12 my-top">
            <% @tags.each do |tag| %>
              <%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "btn btn-outline-secondary btn-sm text-decoration-none" %>
            <% end %>
          </div>
        </div>
    </div>
</div>
<!-- Side widget-->
<div class="card mb-4">
  <div class="card-header">管理者プロフィール</div>
  <div class="row g-0">
    <div class="col-5 col-sm-4">
      <img src="/images/image_icon.jpg" class="img-fluid w-100 mt-5" alt="card-horizontal-image">
    </div>
    <div class="col-7 col-sm-8">
      <div class="card-body">
        <h5 class="card-title">Ogawa Shunya</h5>
        <p class="card-text">公務員から転職して、不動産系の自社開発企業で働いています。</p>
        <p class="card-text">Ruby on Railsを中心にフロントエンドもたまに触ります。</p>
        <p class="card-text">お問い合わせや連絡などは、TwitterからDMをお願いいたします。</p>
        <%= link_to 'https://twitter.com/ago_ago_5' do %>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'https://github.com/AGO523' do %>
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
