<header class="py-5 bg-light mb-4">
  <div class="container">
      <div class="text-center my-5">
          <h1 class="fw-bolder">AGO TechBlog</h1>
          <p class="lead mb-0">teach information about technology</p>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-lg-6">
              <div class="card mb-4 ">
                <%= link_to [post] do %>
                  <%= image_tag post.top_image.variant(resize_to_fit: [414, 700]).processed %>
                <% end %>
                  <div class="card-body">
                    <div class="small text-muted"><%= post.updated_at.to_s(:datetime_jp) %></div>
                    <%= link_to [post] do %>
                      <h3 class="card-title"><%= post.title %></h3>
                    <% end %>
                    <% if post.tag_list.present? %>
                      <p>タグ: <%= raw(post.tag_list.map { |t| link_to t, tag_path(t), class: "btn btn-outline-secondary btn-sm text-decoration-none " }.join(' ')) %></p>
                    <% end %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
      <div class="col-lg-4">
          <%= render partial: "side_widget" %>
      </div>
    </div>
  </div>
</div>

<footer class="py-4 bg-light bg-opacity-50">
  <div class="container"><p class="m-0 text-center text-dark">AGO TechBlog &copy; Created 2022/4</p></div>
</footer>
