<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <article>
          <header class="mb-4">
              <h1 class="fw-bolder mb-1"><%= @post.title %></h1>
              <div class="text-muted fst-italic mb-2"><%= @post.updated_at.to_s(:datetime_jp) %></div>
              <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
              <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
          </header>
          <figure class="mb-4"><%= image_tag @post.top_image.variant(resize_to_fit: [414, 700]).processed %></figure>
          <section class="mb-5">
            <p class="fs-5 mb-4"><%= @post.cotent %></p>
          </section>
        </article>
    </div>
    <div class="col-lg-4">
          <%= render partial: "side_widget" %>
      </div>
  </div>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
